@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

html {
    background: rgb(0, 81, 255);
    /* background: linear-gradient(135deg, rgb(34, 161, 235) 0%, rgba(0, 87, 145, 0.904) 100%) no-repeat fixed center; */
    color: white;
}

html, body {
    padding: 0;
    margin: 0;
    text-align: center;
}

#place {
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Serif TC', serif;
    color: white;
    margin-top: 0.5vw;
}

#city {
    font-size: 75px;
}

#content {
    word-wrap: break-word;
}

#temp {
    font-size: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 0;
    margin-top: 0;
}

.ok {
    font-size: 10vw;
    position: absolute;
    padding-top: 3vw;
}